@import url('https://fonts.googleapis.com/css2?family=Muli:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
/*font-family: 'Cairo', sans-serif;*/

html, body {
    font-family: 'Muli', sans-serif;
    width: 100%;
    height: 100%;
    background: url(img/boxing.png) no-repeat center center fixed;
    background-size: cover;
}

h1 {
    font-size: 3rem;
    color:whitesmoke;
}

hr {
    border-width: 2px;
    border-color:red;
    max-width: 65px;

}

.buffer {
    height:10rem ;
}

/*Buttons section*/
.btn {
        font-weight: 700;
        border-radius: 300px;
    
        }

.btn-xl {
    padding: 1rem 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color:whitesmoke;
    background: #ed3330;
    border-radius: 300px;
    display: inline-block;
    border: none;
    transition: all 0.3s ease 0s;
}

.btn-xl:hover {
    background:#343a40;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}

/*ends here*/